html {
	background-color: rgb(250, 250, 250);
	color: #333333;
	font-family: 'M PLUS 1p', sans-serif;
	font-size: 20px;
}

.body-wrap {
	max-width: 700px;
	margin: auto;
}

.helloall {
}

.hello {
	text-align: center;
	font-size: 70px;
	font-weight: bolder;
}

.hello2 {
	margin-top: -60px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.projects-box p {
	text-align: center;
	font-size: 40px;
}

.projects-box {
	margin: 0 auto;
	font-weight: bold;
	border-style: solid;
	border-width: 7px;
	width: 200px;

}

.projects-box:hover {
	color: rgb(250, 250, 250);
	border-color: #333333;
	background-color: #333333;
	cursor: pointer;
}

.about-box p {
	font-weight: bold;
	text-align: center;
	font-size: 40px;
}

.about-box {
	margin: 0 auto;
	font-weight: bold;
	border-style: solid;
	border-width: 7px;
	width: 200px;
}

.about-box:hover {
	color: rgb(250, 250, 250);
	border-color: #333333;
	background-color: #333333;
	cursor: pointer;
}

/*.fan-content {
	display: none;
}

.waterwheel-content {
	display: none;
}*/

.about-content {
	display: none;
}

.divider {
	height: 30px;
}

.divider2 {
	height: 30px;
}

.bold-tag {
	font-weight: bold;
}

#gearbox-of-a-fan {
	border-style: solid;
	border-width: 7px;
	width: 350px;
}
#gearbox-of-a-fan h1 {
	text-align: center;
	font-size: 35px;
}
#gearbox-of-a-fan:hover {
	color: rgb(250, 250, 250);
	border-color: #333333;
	background-color: #333333;
	cursor: pointer;
}

/*#gearbox-of-a-fan-content {
	display: none;
}*/

#waterwheel {
	border-style: solid;
	border-width: 7px;
	width: 270px;
}
#waterwheel h1 {
	text-align: center;
	font-size: 35px;
}
#waterwheel:hover {
	color: rgb(250, 250, 250);
	border-color: #333333;
	background-color: #333333;
	cursor: pointer;
}

/*#waterwheel-content {
	display: none;
}*/

.fountainVideo {
	width: 331px;
	height: 589px;
}

.fountainVideoWrap {
	border: 10px solid black;
	width: 331px;
	height: 589px;
	margin: 0 auto;
	margin-top: 0;
}

.originalWWModelWrap {
	border: 10px solid black;
	margin: 0 auto;
	margin-top: 0;
	width: 352.66px;
	height: 396px;
}

.originalWWModelWrap img {
	width: 352.66px;
	height: 396px;
}

.fanGearboxVidWrap video {
	width: 560px;
	height: 269.333333333px;
}

.fanGearboxVidWrap {
	width: 560px;
	height: 269.333333333px;
	border: 10px solid black;
	margin: 0 auto;
	margin-top: 0;
}